<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="supercollider"
        version="0.0.1">

  <name>supercollider</name>
  <description>A Cordova plugin that provides a copy of the supercollider audio generation server and an interface to send it messages.</description>

  <engines>
    <engine name="cordova" version=">=3.6.0" />
  </engines>

  <js-module src="www/supercollider.js" name="supercollider">
    <clobbers target="supercollider" />
  </js-module>

  <dependency id="net.sf.supercollider.android" url="." subdir="net.sf.supercollider.android" />

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="supercollider">
        <param name="android-package" value="edu.macalester.comp255.plugins.SuperCollider" />
      </feature>
    </config-file>
    <source-file src="src/android/SuperCollider.java" target-dir="src/edu/macalester/comp255/plugins" />

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
    </config-file>

    <resource-file src="synthDefs/default.scsyndef" target="assets" />
    <resource-file src="synthDefs/pianoKey.scsyndef" target="assets" />
    <resource-file src="synthDefs/metro.scsyndef" target="assets" />

    <source-file src="libs/armeabi/gdbserver" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/gdb.setup" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libAY_UGen.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libBinaryOpUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libChaosUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libcrystax.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libDelayUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libDemandUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libDynNoiseUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libFFT_UGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libFilterUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libGendynUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libgnustl_shared.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libGrainUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libIOUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libLFUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libMCLDBufferUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libMCLDFFTUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libMCLDTreeUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libMCLDTriggeredStatsUgens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libML_UGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libMulAddUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libNoiseUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libOscUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libPanUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libPhysicalModelingUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libReverbUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libscsynth.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libsndfile.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libTriggerUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi/libUnaryOpUGens.so" target-dir="libs/armeabi" />
    <source-file src="libs/armeabi-v7a/gdbserver" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/gdb.setup" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libAY_UGen.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libBinaryOpUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libChaosUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libcrystax.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libDelayUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libDemandUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libDynNoiseUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libFFT_UGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libFilterUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libGendynUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libgnustl_shared.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libGrainUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libIOUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libLFUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libMCLDBufferUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libMCLDFFTUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libMCLDTreeUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libMCLDTriggeredStatsUgens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libML_UGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libMulAddUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libNoiseUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libOscUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libPanUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libPhysicalModelingUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libReverbUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libscsynth.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libsndfile.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libTriggerUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/armeabi-v7a/libUnaryOpUGens.so" target-dir="libs/armeabi-v7a" />
    <source-file src="libs/x86/gdbserver" target-dir="libs/x86" />
    <source-file src="libs/x86/gdb.setup" target-dir="libs/x86" />
    <source-file src="libs/x86/libAY_UGen.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libBinaryOpUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libChaosUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libcrystax.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libDelayUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libDemandUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libDynNoiseUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libFFT_UGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libFilterUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libGendynUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libgnustl_shared.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libGrainUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libIOUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libLFUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libMCLDBufferUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libMCLDFFTUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libMCLDTreeUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libMCLDTriggeredStatsUgens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libML_UGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libMulAddUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libNoiseUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libOscUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libPanUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libPhysicalModelingUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libReverbUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libscsynth.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libsndfile.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libTriggerUGens.so" target-dir="libs/x86" />
    <source-file src="libs/x86/libUnaryOpUGens.so" target-dir="libs/x86" />
  </platform>


</plugin>
