
<!--<div class="bar bar-header bar-dark">-->
  <!--<button class="button icon ion-navicon button-light"></button>-->
  <!--<h1 class="title">sequencer</h1>-->
<!--</div>-->




<ion-view title="Compose">
  <ion-content class="has-header" scroll="false">
    <section class="compose-container">
      <div class="row" style="color:white">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <div class="button-bar">
            <!-- Turn this to ion-stop when pressed?? -->
            <button class="button icon ion-play button-balanced"></button>
          </div>
        </div>
        <!--<div class="col">play/stop</div>-->

      </div>
      <div class="row" style="height:100%">
        <div class="col-10" id="sequencer-left">

        </div>
        <div class="col-80" id="sequencer-center">
          <svg id="sequencer"></svg>
        </div>
        <div class="col-10" id="sequencer-right">
          <svg id="volKnobs"></svg>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>

