
<!--<div class="bar bar-header bar-dark">-->
  <!--<button class="button icon ion-navicon button-light"></button>-->
  <!--<h1 class="title">sequencer</h1>-->
<!--</div>-->




<ion-view title="Compose">
  <ion-content class="has-header" scroll="false">

    <section class="compose-container">
      <div class="row" id="compose-toolbar" style="height:20%">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <div class="button-bar">
            <!-- Turn this to ion-stop when pressed?? -->
            <button class="button icon ion-play button-balanced"></button>
          </div>
        </div>
        <!--<div class="col">play/stop</div>-->

      </div>
      <ion-scroll zooming="true" direction="y" id="compose-scrollbox-y" locking="true">
      <div class="row" id="arrangement">
          <!--<ion-scroll direction="y" id="track-scrollBox">-->
        <div class="col col-10" id="compose-muteButtons">
          <button class="button icon ion-android-volume-mute"></button>
        </div>
        <div class="col col-80" id="timeline-container">
            <svg id="timeline"></svg>
        </div>
        <div class="col col-10" id="compose-volKnobs">
          <svg id="volKnobs"></svg>
        </div>
          <!--</ion-scroll>-->
      </div>
      </ion-scroll>
    </section>
  </ion-content>
</ion-view>

