<ion-view title="Instrument">

  <ion-content class="has-header" ng-controller="InstrumentCtrl as ctrl" scroll="false">
    <section class="view-container">
      <div class="row row-center" id="controller-container">
        <div class="row instrument-row">
          <div class="col">
            <div class="button-bar">
              <button on-touch = "recordLogic()" class="button icon ion-record button-assertive" ng-model="button" ng-class="{'button icon ion-record button-assertive': isRecording == false, 'button icon ion-stop button-energized': isRecording == true}"></button>
              <button on-touch = "play()" class="button icon ion-play button-balanced"></button>
            </div>
          </div>
          <div class="col">
            <label class="item item-input item-select">
              <div class="input-label">BPM</div>
              <select ng-model="BPM" ng-change="metronome.setBPM(BPM)">
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value="100">100</option>
                <option value="120">120</option> <!--Why does this not work anymore??-->
                <option value="140">140</option>
                <option value="160">160</option>
                <option value="180">180</option>
                <option value="200">200</option>
                <option value="220">220</option>
                <option value="240">240</option>
              </select>
            </label>
          </div>
          <div class="col">
            <div class="item item-input item-light">
              <span class="input-label">Metronome</span>
              <label class="toggle toggle-royal">
                <input type="checkbox" ng-model="metronome.value" ng-true-value="'ON'" ng-false-value="'OFF'" ng-change="metronome.toggle()">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
          </div>

          <div class="col">
            <button class="button button-light" id="addTrackBtn" ng-class="{'button-outline button-light': hasTrack == false, 'button-royal': hasTrack == true}" ng-click="addTrack()">Add Track</button>
          </div>
        </div>
      </div>

      <div class="row row-top instrument-row" style="height:74%">
        <div class="col" id="keyboard-container">
          <svg id="keyboard"></svg>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
