<ion-view title="Instrument">

  <!-- If you want to look at the sidemenu, paste the code above the ion-nav-view in idex here -->

  <ion-content class="has-header">
    <div class="row">
      <div class="row controller-container our-col">

        <div class="col">
          <div class="button-bar">
            <button class="button icon ion-record button-assertive"></button>
            <!-- Turn this to ion-stop when pressed?? -->
            <!-- Turn this to ion-stop when pressed?? -->
            <button class="button icon ion-play button-balanced"></button>
          </div>
        </div>
        <div class="col">
          <div>
            <label class="item item-input item-light">
              <span class="input-label">Loop Len</span>
              <input type="text">
            </label>
          </div>
        </div>
        <div class="col">
          <label class="item item-input item-light">
            <span class="input-label">Beats per Minute</span>
            <input type="text">
          </label>
        </div>

        <div class="col">
          <div class="item item-input item-light">
            <span class="input-label">Play Metronome</span>
            <label class="toggle toggle-assertive">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div id="keyboard-container" class="col col-center our-col">
        <svg id="keyboard"></svg>
      </div>
    </div>

  </ion-content>
</ion-view>







